In [22]:
import pandas as pd
import numpy as np

In [23]:
# importing the data
d = pd.read_csv(r'C:\Users\leube\Ironhack\Ironprojects\Project_3_data_cleaning\Module1_Project3\5 - New markets .xlsx - Test.csv')
d.head(50)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,458996,female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6
5,459003,Male,Yes,47,Yes,Doctor,0.0,High,5.0,Cat_4
6,459005,Male,Yes,61,Yes,Doctor,5.0,Low,3.0,Cat_6
7,459008,Female,Yes,47,Yes,Artist,1.0,Average,3.0,Cat_6
8,459013,Male,Yes,50,Yes,Artist,2.0,Average,4.0,Cat_6
9,459014,Male,No,19,No,Healthcare,0.0,Low,4.0,Cat_6
10,459015,Male,No,22,No,Healthcare,0.0,Low,3.0,Cat_6
11,459016,Female,No,22,No,Healthcare,0.0,Low,6.0,Cat_6
12,459024,Male,Yes,50,Yes,Artist,1.0,Average,5.0,Cat_6
13,459026,Male,No,27,No,Healthcare,8.0,Low,3.0,Cat_3
14,459032,Male,No,18,No,Doctor,0.0,Low,3.0,Cat_6
15,459033,Female,Yes,61,Yes,Artist,0.0,Low,1.0,Cat_6
16,459036,Female,Yes,20,Yes,Lawyer,1.0,Average,3.0,Cat_3
17,459039,Male,Yes,45,Yes,Artist,1.0,Average,2.0,Cat_6
18,459041,Male,Yes,55,Yes,Artist,8.0,Low,1.0,Cat_6
19,459045,Female,Yes,88,Yes,Lawyer,1.0,Average,4.0,Cat_6
20,459056,Male,Yes,63,No,Executive,NaN,High,3.0,Cat_6
21,459057,Male,Yes,69,No,Lawyer,NaN,High,NaN,Cat_6
22,459058,Male,No,42,Yes,Artist,0.0,Low,4.0,Cat_3
23,459059,Male,Yes,79,No,Executive,NaN,High,2.0,Cat_6
24,459061,Female,Yes,35,Yes,Healthcare,9.0,High,3.0,Cat_6
25,459064,Male,Yes,27,No,Executive,5.0,High,4.0,Cat_6
26,459065,Male,Yes,52,Yes,Engineer,NaN,Low,2.0,Cat_6
27,459074,Female,No,29,Yes,Healthcare,0.0,Low,4.0,Cat_4
28,459077,Female,Yes,79,No,Lawyer,1.0,High,2.0,Cat_6
29,459079,Male,Yes,87,Yes,Lawyer,NaN,High,2.0,Cat_6
30,459080,Male,Yes,89,No,Lawyer,1.0,Low,2.0,Cat_6
31,459083,Male,Yes,63,Yes,Artist,9.0,Average,3.0,NaN
32,459090,Male,No,31,No,Artist,1.0,Low,2.0,Cat_6
33,459091,Male,Yes,72,Yes,Artist,1.0,Average,6.0,Cat_1
34,459093,Female,Yes,41,Yes,Doctor,9.0,Average,2.0,NaN
35,459100,Female,No,61,Yes,Artist,11.0,Low,1.0,Cat_6
36,459106,Male,Yes,62,Yes,Artist,0.0,Low,2.0,Cat_6
37,459114,Male,Yes,56,Yes,Artist,1.0,Average,2.0,Cat_6
38,459116,Male,Yes,60,Yes,Artist,2.0,Average,5.0,Cat_6
39,459117,Male,Yes,68,Yes,Artist,0.0,High,2.0,Cat_6
40,459118,Male,No,19,No,Healthcare,NaN,Low,8.0,Cat_6
41,459119,Male,Yes,57,Yes,Executive,8.0,High,3.0,Cat_6
42,459120,Male,No,19,No,Healthcare,5.0,Low,5.0,Cat_2
43,459121,Female,Yes,51,Yes,Artist,3.0,Average,6.0,Cat_6
44,459123,Female,Yes,86,No,Artist,1.0,High,2.0,Cat_6
45,459130,Female,Yes,74,No,Lawyer,1.0,High,2.0,Cat_6
46,459132,Male,No,23,No,Entertainment,6.0,Low,2.0,Cat_6
47,459136,Male,Yes,47,Yes,Artist,0.0,Average,2.0,Cat_6
48,459140,Female,No,19,No,Healthcare,7.0,Low,6.0,Cat_6
49,459143,Male,Yes,50,No,Artist,0.0,High,4.0,Cat_6

In [24]:
# info
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2627 non-null   int64
 1   Gender           2627 non-null   object
 2   Ever_Married     2577 non-null   object
 3   Age              2627 non-null   int64
 4   Graduated        2603 non-null   object
 5   Profession       2589 non-null   object
 6   Work_Experience  2358 non-null   float64
 7   Spending_Score   2627 non-null   object
 8   Family_Size      2514 non-null   float64
 9   Var_1            2595 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 205.4+ KB

In [25]:
# shape
d.shape

(2627, 10)

In [26]:
# columns
d.columns

Index(['ID', 'Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1'],
      dtype='object')

In [27]:
d.nunique

<bound method DataFrame.nunique of           ID  Gender Ever_Married  Age Graduated     Profession  \
0     458989  Female          Yes   36       Yes       Engineer
1     458994    Male          Yes   37       Yes     Healthcare
2     458996  female          Yes   69        No            NaN
3     459000    Male          Yes   59        No      Executive
4     459001  Female           No   19        No      Marketing
...      ...     ...          ...  ...       ...            ...
2622  467954    Male           No   29        No     Healthcare
2623  467958  Female           No   35       Yes         Doctor
2624  467960  Female           No   53       Yes  Entertainment
2625  467961    Male          Yes   47       Yes      Executive
2626  467968  female           No   43       Yes     Healthcare

      Work_Experience Spending_Score  Family_Size  Var_1
0                 0.0            Low          1.0  Cat_6
1                 8.0        Average          4.0  Cat_6
2                 0.0            Low          1.0  Cat_6
3                11.0           High          2.0  Cat_6
4                 NaN            Low          4.0  Cat_6
...               ...            ...          ...    ...
2622              9.0            Low          4.0  Cat_6
2623              1.0            Low          1.0  Cat_6
2624              NaN            Low          2.0  Cat_6
2625              1.0           High          5.0  Cat_4
2626              9.0            Low          3.0  Cat_7

[2627 rows x 10 columns]>

In [28]:
d.isnull().sum()

ID                   0
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
dtype: int64

In [29]:
d.isnull().sum()/len(d)*100

ID                  0.000000
Gender              0.000000
Ever_Married        1.903312
Age                 0.000000
Graduated           0.913590
Profession          1.446517
Work_Experience    10.239817
Spending_Score      0.000000
Family_Size         4.301485
Var_1               1.218120
dtype: float64

In [30]:
# first corrections --> looking for missing values, then deciding how to handle them, replace at random, through a certain method, drop, etc.
# alligning gender names
d['Gender'] = d['Gender'].str.replace('Male', 'male')
d['Gender'] = d['Gender'].str.replace('Female', 'female')
d['Gender'] = d['Gender'].str.replace('FeMale', 'female')

In [31]:
# drop categories --> unusuable column
del d['Var_1']

In [32]:
# updating graduates
# unique Professions
lst1 = set(d['Profession'].tolist())        
lst1
prof_list = ['Doctor', 'Lawyer']
for x in prof_list:
    d.loc[d['Profession'] == x, 'Graduated'] = 'Yes'

In [33]:
# updating work experience

mean = d['Work_Experience'].mean()

In [34]:
std = d['Work_Experience'].std()

In [35]:
sizenan = d['Work_Experience'].isnull().sum()

In [36]:

rand = np.random.randint(mean - 2*std, mean + 2*std, size = sizenan)
d["Work_Experience"][np.isnan(d["Work_Experience"])] = rand

C:\Users\leube\AppData\Local\Temp/ipykernel_32516/1591463523.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["Work_Experience"][np.isnan(d["Work_Experience"])] = rand

In [37]:
# filling up the rest of graduated missing values, used the ffill method because percentage is so low
d['Graduated'] = d['Graduated'].ffill()

In [38]:
# updating Profession based on the input spending score

d['Spending_Score'].unique()

array(['Low', 'Average', 'High'], dtype=object)

In [39]:
def sc_encode(uniquesc, value):   
    d.loc[d['Spending_Score'] == f'{uniquesc}', 'Spending_Score_encoded'] = value

sc_encode('Low', 0)
sc_encode('Average', 1)
sc_encode('High', 2)

In [40]:
profsc = d.groupby('Profession', as_index=False).agg({'Spending_Score_encoded':'mean'})
profsc.round()

      Profession  Spending_Score_encoded
0         Artist                     1.0
1         Doctor                     0.0
2       Engineer                     0.0
3  Entertainment                     0.0
4      Executive                     1.0
5     Healthcare                     0.0
6      Homemaker                     0.0
7         Lawyer                     1.0
8      Marketing                     0.0

In [41]:
d['Profession'].replace(np.nan, "no", inplace=True)

In [69]:
import random
list_1 = ['Artist','Executive','Lawyer']        
list_0 = ['Doctor','Engineer','Entertainment','Healthcare','Homemaker','Marketing']
list_2 = ['Executive', 'Lawyer']

x = random.choice(list_1)
y = random.choice(list_0)
c = random.choice(list_2)

d.loc[(d['Spending_Score_encoded'] ==1)&(d["Profession"] =="no"),'Profession'] = x
d.loc[(d['Spending_Score_encoded'] ==0)&(d["Profession"] =="no"),'Profession'] = y
d.loc[(d['Spending_Score_encoded'] ==2)&(d["Profession"] =="no"),'Profession'] = c

In [70]:
d.head(60)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Spending_Score_encoded
0,458989,female,Yes,36,Yes,Engineer,0.0,Low,1.0,0.0
1,458994,male,Yes,37,Yes,Healthcare,8.0,Average,4.0,1.0
2,458996,female,Yes,69,No,Homemaker,0.0,Low,1.0,0.0
3,459000,male,Yes,59,No,Executive,11.0,High,2.0,2.0
4,459001,female,No,19,No,Marketing,2.0,Low,4.0,0.0
5,459003,male,Yes,47,Yes,Doctor,0.0,High,5.0,2.0
6,459005,male,Yes,61,Yes,Doctor,5.0,Low,3.0,0.0
7,459008,female,Yes,47,Yes,Artist,1.0,Average,3.0,1.0
8,459013,male,Yes,50,Yes,Artist,2.0,Average,4.0,1.0
9,459014,male,No,19,No,Healthcare,0.0,Low,4.0,0.0
10,459015,male,No,22,No,Healthcare,0.0,Low,3.0,0.0
11,459016,female,No,22,No,Healthcare,0.0,Low,6.0,0.0
12,459024,male,Yes,50,Yes,Artist,1.0,Average,5.0,1.0
13,459026,male,No,27,No,Healthcare,8.0,Low,3.0,0.0
14,459032,male,No,18,Yes,Doctor,0.0,Low,3.0,0.0
15,459033,female,Yes,61,Yes,Artist,0.0,Low,1.0,0.0
16,459036,female,Yes,20,Yes,Lawyer,1.0,Average,3.0,1.0
17,459039,male,Yes,45,Yes,Artist,1.0,Average,2.0,1.0
18,459041,male,Yes,55,Yes,Artist,8.0,Low,1.0,0.0
19,459045,female,Yes,88,Yes,Lawyer,1.0,Average,4.0,1.0
20,459056,male,Yes,63,No,Executive,0.0,High,3.0,2.0
21,459057,male,Yes,69,Yes,Lawyer,0.0,High,3.0,2.0
22,459058,male,No,42,Yes,Artist,0.0,Low,4.0,0.0
23,459059,male,Yes,79,No,Executive,8.0,High,2.0,2.0
24,459061,female,Yes,35,Yes,Healthcare,9.0,High,3.0,2.0
25,459064,male,Yes,27,No,Executive,5.0,High,4.0,2.0
26,459065,male,Yes,52,Yes,Engineer,0.0,Low,2.0,0.0
27,459074,female,No,29,Yes,Healthcare,0.0,Low,4.0,0.0
28,459077,female,Yes,79,Yes,Lawyer,1.0,High,2.0,2.0
29,459079,male,Yes,87,Yes,Lawyer,8.0,High,2.0,2.0
30,459080,male,Yes,89,Yes,Lawyer,1.0,Low,2.0,0.0
31,459083,male,Yes,63,Yes,Artist,9.0,Average,3.0,1.0
32,459090,male,No,31,No,Artist,1.0,Low,2.0,0.0
33,459091,male,Yes,72,Yes,Artist,1.0,Average,6.0,1.0
34,459093,female,Yes,41,Yes,Doctor,9.0,Average,2.0,1.0
35,459100,female,No,61,Yes,Artist,11.0,Low,1.0,0.0
36,459106,male,Yes,62,Yes,Artist,0.0,Low,2.0,0.0
37,459114,male,Yes,56,Yes,Artist,1.0,Average,2.0,1.0
38,459116,male,Yes,60,Yes,Artist,2.0,Average,5.0,1.0
39,459117,male,Yes,68,Yes,Artist,0.0,High,2.0,2.0
40,459118,male,No,19,No,Healthcare,7.0,Low,8.0,0.0
41,459119,male,Yes,57,Yes,Executive,8.0,High,3.0,2.0
42,459120,male,No,19,No,Healthcare,5.0,Low,5.0,0.0
43,459121,female,Yes,51,Yes,Artist,3.0,Average,6.0,1.0
44,459123,female,Yes,86,No,Artist,1.0,High,2.0,2.0
45,459130,female,Yes,74,Yes,Lawyer,1.0,High,2.0,2.0
46,459132,male,No,23,No,Entertainment,6.0,Low,2.0,0.0
47,459136,male,Yes,47,Yes,Artist,0.0,Average,2.0,1.0
48,459140,female,No,19,No,Healthcare,7.0,Low,6.0,0.0
49,459143,male,Yes,50,No,Artist,0.0,High,4.0,2.0
50,459144,male,Yes,80,Yes,Lawyer,1.0,High,2.0,2.0
51,459145,male,Yes,78,Yes,Lawyer,1.0,Low,1.0,0.0
52,459150,female,No,48,Yes,Doctor,0.0,Low,1.0,0.0
53,459160,male,Yes,70,Yes,Doctor,1.0,Average,2.0,1.0
54,459161,male,Yes,50,Yes,Executive,3.0,High,5.0,2.0
55,459162,female,Yes,83,Yes,Lawyer,0.0,High,2.0,2.0
56,459163,male,No,35,Yes,Entertainment,0.0,Low,1.0,0.0
57,459167,female,No,36,Yes,Artist,0.0,Low,2.0,0.0
58,459170,female,No,35,Yes,Artist,1.0,Low,1.0,0.0
59,459171,male,Yes,35,Yes,Artist,0.0,Average,2.0,1.0

In [45]:
# ever married
d['Ever_Married'] = d['Ever_Married'].ffill()

In [46]:
# updating Falimiy_size
mean = d['Family_Size'].mean()
std = d['Family_Size'].std()
sizenan = d['Family_Size'].isnull().sum()

In [47]:
rand = np.random.randint(mean - 2*std, mean + 2*std, size = sizenan)
d["Family_Size"][np.isnan(d["Family_Size"])] = rand

C:\Users\leube\AppData\Local\Temp/ipykernel_32516/592619882.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["Family_Size"][np.isnan(d["Family_Size"])] = rand

In [71]:
d.isnull().sum()

ID                        0
Gender                    0
Ever_Married              0
Age                       0
Graduated                 0
Profession                0
Work_Experience           0
Spending_Score            0
Family_Size               0
Spending_Score_encoded    0
dtype: int64

In [72]:
d.head(60)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Spending_Score_encoded
0,458989,female,Yes,36,Yes,Engineer,0.0,Low,1.0,0.0
1,458994,male,Yes,37,Yes,Healthcare,8.0,Average,4.0,1.0
2,458996,female,Yes,69,No,Homemaker,0.0,Low,1.0,0.0
3,459000,male,Yes,59,No,Executive,11.0,High,2.0,2.0
4,459001,female,No,19,No,Marketing,2.0,Low,4.0,0.0
5,459003,male,Yes,47,Yes,Doctor,0.0,High,5.0,2.0
6,459005,male,Yes,61,Yes,Doctor,5.0,Low,3.0,0.0
7,459008,female,Yes,47,Yes,Artist,1.0,Average,3.0,1.0
8,459013,male,Yes,50,Yes,Artist,2.0,Average,4.0,1.0
9,459014,male,No,19,No,Healthcare,0.0,Low,4.0,0.0
10,459015,male,No,22,No,Healthcare,0.0,Low,3.0,0.0
11,459016,female,No,22,No,Healthcare,0.0,Low,6.0,0.0
12,459024,male,Yes,50,Yes,Artist,1.0,Average,5.0,1.0
13,459026,male,No,27,No,Healthcare,8.0,Low,3.0,0.0
14,459032,male,No,18,Yes,Doctor,0.0,Low,3.0,0.0
15,459033,female,Yes,61,Yes,Artist,0.0,Low,1.0,0.0
16,459036,female,Yes,20,Yes,Lawyer,1.0,Average,3.0,1.0
17,459039,male,Yes,45,Yes,Artist,1.0,Average,2.0,1.0
18,459041,male,Yes,55,Yes,Artist,8.0,Low,1.0,0.0
19,459045,female,Yes,88,Yes,Lawyer,1.0,Average,4.0,1.0
20,459056,male,Yes,63,No,Executive,0.0,High,3.0,2.0
21,459057,male,Yes,69,Yes,Lawyer,0.0,High,3.0,2.0
22,459058,male,No,42,Yes,Artist,0.0,Low,4.0,0.0
23,459059,male,Yes,79,No,Executive,8.0,High,2.0,2.0
24,459061,female,Yes,35,Yes,Healthcare,9.0,High,3.0,2.0
25,459064,male,Yes,27,No,Executive,5.0,High,4.0,2.0
26,459065,male,Yes,52,Yes,Engineer,0.0,Low,2.0,0.0
27,459074,female,No,29,Yes,Healthcare,0.0,Low,4.0,0.0
28,459077,female,Yes,79,Yes,Lawyer,1.0,High,2.0,2.0
29,459079,male,Yes,87,Yes,Lawyer,8.0,High,2.0,2.0
30,459080,male,Yes,89,Yes,Lawyer,1.0,Low,2.0,0.0
31,459083,male,Yes,63,Yes,Artist,9.0,Average,3.0,1.0
32,459090,male,No,31,No,Artist,1.0,Low,2.0,0.0
33,459091,male,Yes,72,Yes,Artist,1.0,Average,6.0,1.0
34,459093,female,Yes,41,Yes,Doctor,9.0,Average,2.0,1.0
35,459100,female,No,61,Yes,Artist,11.0,Low,1.0,0.0
36,459106,male,Yes,62,Yes,Artist,0.0,Low,2.0,0.0
37,459114,male,Yes,56,Yes,Artist,1.0,Average,2.0,1.0
38,459116,male,Yes,60,Yes,Artist,2.0,Average,5.0,1.0
39,459117,male,Yes,68,Yes,Artist,0.0,High,2.0,2.0
40,459118,male,No,19,No,Healthcare,7.0,Low,8.0,0.0
41,459119,male,Yes,57,Yes,Executive,8.0,High,3.0,2.0
42,459120,male,No,19,No,Healthcare,5.0,Low,5.0,0.0
43,459121,female,Yes,51,Yes,Artist,3.0,Average,6.0,1.0
44,459123,female,Yes,86,No,Artist,1.0,High,2.0,2.0
45,459130,female,Yes,74,Yes,Lawyer,1.0,High,2.0,2.0
46,459132,male,No,23,No,Entertainment,6.0,Low,2.0,0.0
47,459136,male,Yes,47,Yes,Artist,0.0,Average,2.0,1.0
48,459140,female,No,19,No,Healthcare,7.0,Low,6.0,0.0
49,459143,male,Yes,50,No,Artist,0.0,High,4.0,2.0
50,459144,male,Yes,80,Yes,Lawyer,1.0,High,2.0,2.0
51,459145,male,Yes,78,Yes,Lawyer,1.0,Low,1.0,0.0
52,459150,female,No,48,Yes,Doctor,0.0,Low,1.0,0.0
53,459160,male,Yes,70,Yes,Doctor,1.0,Average,2.0,1.0
54,459161,male,Yes,50,Yes,Executive,3.0,High,5.0,2.0
55,459162,female,Yes,83,Yes,Lawyer,0.0,High,2.0,2.0
56,459163,male,No,35,Yes,Entertainment,0.0,Low,1.0,0.0
57,459167,female,No,36,Yes,Artist,0.0,Low,2.0,0.0
58,459170,female,No,35,Yes,Artist,1.0,Low,1.0,0.0
59,459171,male,Yes,35,Yes,Artist,0.0,Average,2.0,1.0

In [ ]:
## Now we check all the unique the unique values of columns to check for abnormalities

In [50]:
#Gender
d['Gender'].unique()

array(['female', 'male'], dtype=object)

In [51]:
#Ever married
d['Ever_Married'].unique()

array(['Yes', 'No'], dtype=object)

In [52]:
#Age
d['Age'].unique()

array([36, 37, 69, 59, 19, 47, 61, 50, 22, 27, 18, 20, 45, 55, 88, 63, 42,
       79, 35, 52, 29, 87, 89, 31, 72, 41, 62, 56, 60, 68, 57, 51, 86, 74,
       23, 80, 78, 48, 70, 83, 73, 46, 43, 32, 39, 71, 67, 49, 65, 33, 58,
       30, 21, 26, 81, 28, 76, 85, 66, 53, 40, 25, 77, 75, 82, 84, 38],
      dtype=int64)

In [53]:
#Graduated
d['Graduated'].unique()

array(['Yes', 'No'], dtype=object)

In [73]:
#Profession
d['Profession'].unique()

array(['Engineer', 'Healthcare', 'Homemaker', 'Executive', 'Marketing',
       'Doctor', 'Artist', 'Lawyer', 'Entertainment'], dtype=object)

In [74]:
#work experience
d['Work_Experience'].unique()

d['Work_Experience'] = d['Work_Experience'].abs()

In [75]:
d.head(60)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Spending_Score_encoded
0,458989,female,Yes,36,Yes,Engineer,0.0,Low,1.0,0.0
1,458994,male,Yes,37,Yes,Healthcare,8.0,Average,4.0,1.0
2,458996,female,Yes,69,No,Homemaker,0.0,Low,1.0,0.0
3,459000,male,Yes,59,No,Executive,11.0,High,2.0,2.0
4,459001,female,No,19,No,Marketing,2.0,Low,4.0,0.0
5,459003,male,Yes,47,Yes,Doctor,0.0,High,5.0,2.0
6,459005,male,Yes,61,Yes,Doctor,5.0,Low,3.0,0.0
7,459008,female,Yes,47,Yes,Artist,1.0,Average,3.0,1.0
8,459013,male,Yes,50,Yes,Artist,2.0,Average,4.0,1.0
9,459014,male,No,19,No,Healthcare,0.0,Low,4.0,0.0
10,459015,male,No,22,No,Healthcare,0.0,Low,3.0,0.0
11,459016,female,No,22,No,Healthcare,0.0,Low,6.0,0.0
12,459024,male,Yes,50,Yes,Artist,1.0,Average,5.0,1.0
13,459026,male,No,27,No,Healthcare,8.0,Low,3.0,0.0
14,459032,male,No,18,Yes,Doctor,0.0,Low,3.0,0.0
15,459033,female,Yes,61,Yes,Artist,0.0,Low,1.0,0.0
16,459036,female,Yes,20,Yes,Lawyer,1.0,Average,3.0,1.0
17,459039,male,Yes,45,Yes,Artist,1.0,Average,2.0,1.0
18,459041,male,Yes,55,Yes,Artist,8.0,Low,1.0,0.0
19,459045,female,Yes,88,Yes,Lawyer,1.0,Average,4.0,1.0
20,459056,male,Yes,63,No,Executive,0.0,High,3.0,2.0
21,459057,male,Yes,69,Yes,Lawyer,0.0,High,3.0,2.0
22,459058,male,No,42,Yes,Artist,0.0,Low,4.0,0.0
23,459059,male,Yes,79,No,Executive,8.0,High,2.0,2.0
24,459061,female,Yes,35,Yes,Healthcare,9.0,High,3.0,2.0
25,459064,male,Yes,27,No,Executive,5.0,High,4.0,2.0
26,459065,male,Yes,52,Yes,Engineer,0.0,Low,2.0,0.0
27,459074,female,No,29,Yes,Healthcare,0.0,Low,4.0,0.0
28,459077,female,Yes,79,Yes,Lawyer,1.0,High,2.0,2.0
29,459079,male,Yes,87,Yes,Lawyer,8.0,High,2.0,2.0
30,459080,male,Yes,89,Yes,Lawyer,1.0,Low,2.0,0.0
31,459083,male,Yes,63,Yes,Artist,9.0,Average,3.0,1.0
32,459090,male,No,31,No,Artist,1.0,Low,2.0,0.0
33,459091,male,Yes,72,Yes,Artist,1.0,Average,6.0,1.0
34,459093,female,Yes,41,Yes,Doctor,9.0,Average,2.0,1.0
35,459100,female,No,61,Yes,Artist,11.0,Low,1.0,0.0
36,459106,male,Yes,62,Yes,Artist,0.0,Low,2.0,0.0
37,459114,male,Yes,56,Yes,Artist,1.0,Average,2.0,1.0
38,459116,male,Yes,60,Yes,Artist,2.0,Average,5.0,1.0
39,459117,male,Yes,68,Yes,Artist,0.0,High,2.0,2.0
40,459118,male,No,19,No,Healthcare,7.0,Low,8.0,0.0
41,459119,male,Yes,57,Yes,Executive,8.0,High,3.0,2.0
42,459120,male,No,19,No,Healthcare,5.0,Low,5.0,0.0
43,459121,female,Yes,51,Yes,Artist,3.0,Average,6.0,1.0
44,459123,female,Yes,86,No,Artist,1.0,High,2.0,2.0
45,459130,female,Yes,74,Yes,Lawyer,1.0,High,2.0,2.0
46,459132,male,No,23,No,Entertainment,6.0,Low,2.0,0.0
47,459136,male,Yes,47,Yes,Artist,0.0,Average,2.0,1.0
48,459140,female,No,19,No,Healthcare,7.0,Low,6.0,0.0
49,459143,male,Yes,50,No,Artist,0.0,High,4.0,2.0
50,459144,male,Yes,80,Yes,Lawyer,1.0,High,2.0,2.0
51,459145,male,Yes,78,Yes,Lawyer,1.0,Low,1.0,0.0
52,459150,female,No,48,Yes,Doctor,0.0,Low,1.0,0.0
53,459160,male,Yes,70,Yes,Doctor,1.0,Average,2.0,1.0
54,459161,male,Yes,50,Yes,Executive,3.0,High,5.0,2.0
55,459162,female,Yes,83,Yes,Lawyer,0.0,High,2.0,2.0
56,459163,male,No,35,Yes,Entertainment,0.0,Low,1.0,0.0
57,459167,female,No,36,Yes,Artist,0.0,Low,2.0,0.0
58,459170,female,No,35,Yes,Artist,1.0,Low,1.0,0.0
59,459171,male,Yes,35,Yes,Artist,0.0,Average,2.0,1.0

In [ ]:
# now connect to MySQL

In [57]:
! pip install sqlalchemy
! pip install pymysql
import pymysql
from sqlalchemy import create_engine

Requirement already satisfied: sqlalchemy in c:\users\leube\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\leube\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [61]:
engine = create_engine('mysql+pymysql://root:paRishaCK!!20222030@localhost:3306/project_3_newmarkets')

In [76]:
d.head(10)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Spending_Score_encoded
0,458989,female,Yes,36,Yes,Engineer,0.0,Low,1.0,0.0
1,458994,male,Yes,37,Yes,Healthcare,8.0,Average,4.0,1.0
2,458996,female,Yes,69,No,Homemaker,0.0,Low,1.0,0.0
3,459000,male,Yes,59,No,Executive,11.0,High,2.0,2.0
4,459001,female,No,19,No,Marketing,2.0,Low,4.0,0.0
5,459003,male,Yes,47,Yes,Doctor,0.0,High,5.0,2.0
6,459005,male,Yes,61,Yes,Doctor,5.0,Low,3.0,0.0
7,459008,female,Yes,47,Yes,Artist,1.0,Average,3.0,1.0
8,459013,male,Yes,50,Yes,Artist,2.0,Average,4.0,1.0
9,459014,male,No,19,No,Healthcare,0.0,Low,4.0,0.0

In [77]:
# load our cleaned data as table in MySQL
d.to_sql('general_data', engine, if_exists='replace', index=False)

In [63]:
# created one of the deliverables --> csv file of finished data
d.to_csv(r'C:\Users\leube\Ironhack\Ironprojects\Project_3_data_cleaning\Module1_Project3/cleaned_data.csv')